/* Redefining styles from mdb.min.css*/
.accordion .card{
  border-bottom: none;
  box-shadow: none;
}
.accordion > .card{
  border-bottom: 1px solid #eee;
}
/* /Redefining styles from mdb.min.css*/


.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
}


#wrap {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 56px;
  box-shadow: 0 0 10px #333;
}
header {
  max-width: 1024px;
  margin: 0 auto;
  padding-right: 0 !important; /* This is hack/fix for 'padding-right: 16px;' that gets added to everything once you show modal window */
}
.jumbo {
  background: center url('../img/jumbo1.jpeg');
  background-size: cover;
  transition: all ease-in 1s;
}

footer .social a {
  font-size: 0;
}
footer i.fa {
  font-size: 24px;
}

.pizza-option-label {
  display: block;
}

.modal-dialog.cart {
  width: 75% !important;
  max-width: none;
  min-width: 600px;
}